[submodule ".vim/pack/auto/start/vim-buftabline"]
	path = .vim/pack/auto/start/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule ".vim/pack/auto/start/nerdtree"]
	path = .vim/pack/auto/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/pack/auto/start/vim-go"]
	path = .vim/pack/auto/start/vim-go
	url = https://github.com/fatih/vim-go
